@import "base.mixins";

// a{
//     color: $color3;

//     @include hocus(){
//         color: $color2;
//     }
// }

.visible{
    display: inline-block !important; 
}

.hidden{
    display: none;
}

.message-link{
    border-top: 0.25px solid black;
    border-bottom: 0.25px solid black;
}

hr{
    margin: 0;
}

