<% include ../partials/user-header %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    <div class="d-flex justify-content-between flex-wrap flex-xs-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Messages</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/users/messages/new" class="btn btn-sm btn-outline-secondary">Compose</a>
                <button class="btn btn-sm btn-outline-secondary" id="delete-employee">Delete</button>
            </div>
        </div>
    </div>

    <div class="container" style="text-align: left;">
        <hr>
        <% user.messages.recieved.forEach(function(message) {%>
            <p>
                <%= message.text%>
            </p>
        <% }); %>
        <% user.messages.sent.forEach(function(message) {%>
            <p>
                <%= message.text%> Hello
            </p>
        <% }); %>
        <% user.threads.forEach(function(thread) {%>
            <p>
                <%= thread.subject%> Thread
            </p>
        <% }); %>
    </div>
    </main>
    </div>
    </div>

    <% include ../partials/footer %>